* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: sans-serif;
}
body{
  background-color: var(--background--color);
  max-width: 1000px;
  margin: 0 auto;
  font-family: 'Rubik', sans-serif;
}

:root {
  --background--color: #DE1337;
  --color--negro-primario: #000000;
  --color--negro-secundario: #1a1a1a;
  --color--blanco-primario: #ffffff;
  --color--blanco-secundario: #e5e5e5;
}

.title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
}

#pokemon__container{
  display: grid;
  grid-template-columns: 25rem 25rem 25rem;
  gap: 8rem;
}

.card__container{
  background-color: var(--color--blanco-secundario);
  border-radius: 2rem;
  height: auto;
  width: 25rem;
  margin: 5rem;
  box-shadow:  rgba(0, 0, 0, .5);
  text-transform: uppercase;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.5);
  padding-bottom: 2rem;
}

.card__container--id-health{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 5rem;
}

.card__container--id, .card__container--health{
  margin: 1rem;
  font-size: 1.8rem;
  font-family: sans-serif;
  color: var(--color--negro-primario);
}

.card__container--img{
  display: flex;
  justify-content: center;
  width: auto;
}

.card__container--img img{
  width: 12rem;
  object-fit: contain;
}

.card__container--name{
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: var(--color--negro-primario);
  font-weight: bold;
}

.card__container--weight-height{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 2rem;
}

.card__container-height, .card__container-weight{
  color: var(--color--blanco-secundario);
  font-size: 1.5rem;
  height: 2rem;
  width: auto;
  background-color: grey;
  border-radius: 0.3rem;
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1030px)
{
  #pokemon__container{
    grid-template-columns: auto auto;
    gap: 3rem;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) 
{
  #pokemon__container{
    grid-template-columns: auto;
    gap: 3rem;
    justify-content: center;
  }
}